:root {
  --main-bg-color: #202023;
  --main-color: #c0c8d1;
  --calendar-bg-color: #4b4b4e;
  --calendar-off-range-bg-color: #c0c8d1;
  --calendar-color: #171718;
}

.rbc-month-view {
  border-radius: 0.5rem;
  background-color:var(--calendar-bg-color);
  color: var(--main-color);
}

.rbc-toolbar button {
  color: var(--main-color) !important;
}

.calendar {
  margin:auto !important; 
  width: 700px !important;
}
.rbc-active {
  background-color: #464057d3 !important;
}

.rbc-event-content {
  text-overflow: clip !important;
  font-size:medium;
}

@media (max-width: 600px) {
  .calendar {
    height: 550px !important;
    margin: 1em 0 !important;
    width:auto !important;
  }

  .rbc-event-content {
    font-size:x-small;
  }

  .rbc-button-link {
    pointer-events: none;
  }

  .rbc-toolbar {
    flex-direction: column;
  }

  .rbc-toolbar-label {
    padding: 0.3rem 2rem !important;
  }
  
}

.rbc-day-bg {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.rbc-day-bg.rbc-off-range-bg {
  color: var(--calendar-color);
  background-color: var(--calendar-off-range-bg-color);
}

.rbc-day-bg.rbc-button-link {
  color: var(--calendar-color)
}
.rbc-date-cell {
  color: rgb(27, 26, 26) !important;
}
.rbc-off-range {
  color: rgb(114, 116, 102) !important;
}

.rbc-month-row {
  border-top: 0px solid #ddd !important;
}

.rbc-time-slot {
  background-color:#292a2d;
}

.rbc-timeslot-group {
  background-color: #989c9e;
}


.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  border: 1px solid #ddd
}

.rbc-button-link.rbc-show-more {
  border-radius: .25rem;
  background-color: hsla(0,0%,100%,0.05);
}

.calendar-container {
  width: 800px;
  background: #fff;
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px;
}
.btn {
  cursor: pointer;
  border: 0px !important
}
.btn-control {
  color: #fff !important;
  background: #6992CA !important;
}
.btn-past {
  color: #fff !important;
  background: #DE6987 !important;
}
.btn-upcoming {
  color: #fff !important;
  background: #8CBD4C !important;
}
.rbc-toolbar {
  margin-bottom: 15px;
}
.rbc-toolbar .rbc-toolbar-label {
  font-size: 20px;
}
.rbc-header {
  padding: 4px 10px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #DDD;

}
.rbc-month-row {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 100px;
  flex: 100px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.rbc-event {
  border-radius: 3px;
  margin: 0rem 0 0.1rem 0  !important;
}
.rbc-show-more {
  font-weight: normal;
}
.rbc-off-range-bg {
  background: #F8F8F8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.15;
  font-size: 17px;
  background-color: var(--main-bg-color);
  color: var(--main-color) !important;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
